<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>User profile</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
</head>
<body>

<%= render "layouts/nav" %>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a>
  to improve your experience.</p>
<![endif]-->

<div class="container mt-3">
  <div class="text-center mb-4">
    <%= render 'layouts/alerts' %>
    <h1 class="h3 mb-3 font-weight-normal">Privacy Policy</h1>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 justify-content-centre">
      <h4>Your privacy is critically important to us.</h4>
      <p>It is HomeGig's policy to respect your privacy regarding any information we may collect while operating our
        website. This Privacy Policy applies to
        <a href="https://home-gig-4.herokuapp.com/">https://home-gig-4.herokuapp.com/</a> (hereinafter, "us", "we", or
        "https://home-gig-4.herokuapp.com/"). We respect your privacy and are committed to protecting personally
        identifiable information you may provide us through the Website. We have adopted this privacy policy ("Privacy
        Policy") to explain what information may be collected on our Website, how we use this information, and under
        what circumstances we may disclose the information to third parties. This Privacy Policy applies only to
        information we collect through the Website and does not apply to our collection of information from other
        sources.</p>
      <p>This Privacy Policy, together with the Terms and conditions posted on our Website, set forth the general rules
        and policies governing your use of our Website. Depending on your activities when visiting our Website, you may
        be required to agree to additional terms and conditions.</p>

      <h4>Website Visitors</h4>
      <p>Like most website operators, HomeGig collects non-personally-identifying information of the sort that web
        browsers and servers typically make available, such as the browser type, language preference, referring site,
        and the date and time of each visitor request. HomeGig's purpose in collecting non-personally identifying
        information is to better understand how HomeGig's visitors use its website. From time to time, HomeGig may
        release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the
        usage of its website.</p>
      <p>HomeGig also collects potentially personally-identifying information like Internet Protocol (IP) addresses for
        logged in users and for users leaving comments on https://home-gig-4.herokuapp.com/ blog posts. HomeGig only
        discloses logged in user and commenter IP addresses under the same circumstances that it uses and discloses
        personally-identifying information as described below.</p>

      <h4>Gathering of Personally-Identifying Information</h4>
      <p>Certain visitors to HomeGig's websites choose to interact with HomeGig in ways that require HomeGig to gather
        personally-identifying information. The amount and type of information that HomeGig gathers depends on the
        nature of the interaction. For example, we ask visitors who sign up for a blog at
        https://home-gig-4.herokuapp.com/ to provide a username and email address.</p>

      <h4>Security</h4>
      <p>The security of your Personal Information is important to us, but remember that no method of transmission over
        the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable
        means to protect your Personal Information, we cannot guarantee its absolute security.</p>

      <h4>Advertisements</h4>
      <p>Ads appearing on our website may be delivered to users by advertising partners, who may set cookies. These
        cookies allow the ad server to recognize your computer each time they send you an online advertisement to
        compile information about you or others who use your computer. This information allows ad networks to, among
        other things, deliver targeted advertisements that they believe will be of most interest to you. This Privacy
        Policy covers the use of cookies by HomeGig and does not cover the use of cookies by any advertisers.</p>


      <h4>Links To External Sites</h4>
      <p>Our Service may contain links to external sites that are not operated by us. If you click on a third party
        link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy and
        terms and conditions of every site you visit.</p>
      <p>We have no control over, and assume no responsibility for the content, privacy policies or practices of any
        third party sites, products or services.</p>

      <h4>Https://home-gig-4.herokuapp.com/ uses Google AdWords for remarketing</h4>
      <p>Https://home-gig-4.herokuapp.com/ uses the remarketing services to advertise on third party websites (including
        Google) to previous visitors to our site. It could mean that we advertise to previous visitors who haven't
        completed a task on our site, for example using the contact form to make an enquiry. This could be in the form
        of an advertisement on the Google search results page, or a site in the Google Display Network. Third-party
        vendors, including Google, use cookies to serve ads based on someone's past visits. Of course, any data
        collected will be used in accordance with our own privacy policy and Google's privacy policy.</p>
      <p>You can set preferences for how Google advertises to you using the Google Ad Preferences page, and if you want
        to you can opt out of interest-based advertising entirely by cookie settings or permanently using a browser
        plugin.</p>

      <h4>Protection of Certain Personally-Identifying Information</h4>
      <p>HomeGig discloses potentially personally-identifying and personally-identifying information only to those of
        its employees, contractors and affiliated organizations that (i) need to know that information in order to
        process it on HomeGig's behalf or to provide services available at HomeGig's website, and (ii) that have agreed
        not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located
        outside of your home country; by using HomeGig's website, you consent to the transfer of such information to
        them. HomeGig will not rent or sell potentially personally-identifying and personally-identifying information to
        anyone. Other than to its employees, contractors and affiliated organizations, as described above, HomeGig
        discloses potentially personally-identifying and personally-identifying information only in response to a
        subpoena, court order or other governmental request, or when HomeGig believes in good faith that disclosure is
        reasonably necessary to protect the property or rights of HomeGig, third parties or the public at large.</p>
      <p>If you are a registered user of https://home-gig-4.herokuapp.com/ and have supplied your email address, HomeGig
        may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to
        date with what's going on with HomeGig and our products. We primarily use our blog to communicate this type of
        information, so we expect to keep this type of email to a minimum. If you send us a request (for example via a
        support email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us
        clarify or respond to your request or to help us support other users. HomeGig takes all measures reasonably
        necessary to protect against the unauthorized access, use, alteration or destruction of potentially
        personally-identifying and personally-identifying information.</p>

      <h4>Aggregated Statistics</h4>
      <p>HomeGig may collect statistics about the behavior of visitors to its website. HomeGig may display this
        information publicly or provide it to others. However, HomeGig does not disclose your personally-identifying
        information.</p>

      <h4>Affiliate Disclosure</h4>
      <p>This site uses affiliate links and does earn a commission from certain links. This does not affect your
        purchases or the price you may pay.</p>

      <h4>Cookies</h4>
      <p>To enrich and perfect your online experience, HomeGig uses "Cookies", similar technologies and services
        provided by others to display personalized content, appropriate advertising and store your preferences on your
        computer.</p>
      <p>A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's
        browser provides to the website each time the visitor returns. HomeGig uses cookies to help HomeGig identify and
        track visitors, their usage of https://home-gig-4.herokuapp.com/, and their website access preferences. HomeGig
        visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies
        before using HomeGig's websites, with the drawback that certain features of HomeGig's websites may not function
        properly without the aid of cookies.</p>
      <p>By continuing to navigate our website without changing your cookie settings, you hereby acknowledge and agree
        to HomeGig's use of cookies.</p>

      <h4>E-commerce</h4>
      <p>Those who engage in transactions with HomeGig – by purchasing HomeGig's services or products, are asked to
        provide additional information, including as necessary the personal and financial information required to
        process those transactions. In each case, HomeGig collects such information only insofar as is necessary or
        appropriate to fulfill the purpose of the visitor's interaction with HomeGig. HomeGig does not disclose
        personally-identifying information other than as described below. And visitors can always refuse to supply
        personally-identifying information, with the caveat that it may prevent them from engaging in certain
        website-related activities.</p>

      <h4>Business Transfers</h4>
      <p>If HomeGig, or substantially all of its assets, were acquired, or in the unlikely event that HomeGig goes out
        of business or enters bankruptcy, user information would be one of the assets that is transferred or acquired by
        a third party. You acknowledge that such transfers may occur, and that any acquirer of HomeGig may continue to
        use your personal information as set forth in this policy.</p>

      <h4>Privacy Policy Changes</h4>
      <p>Although most changes are likely to be minor, HomeGig may change its Privacy Policy from time to time, and in
        HomeGig's sole discretion. HomeGig encourages visitors to frequently check this page for any changes to its
        Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your
        acceptance of such change.</p>
      <h4></h4>
      <p></p>

      <h4>Contact Information</h4>
      <p>If you have any questions about this Privacy Policy, please contact us via
        <a href="mailto:privacy@homegig.com">email</a> or <a href="tel:6475921123">phone</a>.</p>

    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
