<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>User profile</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
</head>
<body>

<%= render "layouts/nav" %>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a>
  to improve your experience.</p>
<![endif]-->

<div class="container mt-3">
  <div class="text-center mb-4">
    <%= render 'layouts/alerts' %>
    <h1 class="h3 mb-3 font-weight-normal">About Us</h1>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 justify-content-centre lead">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">loc</th>
          <th scope="col">lastmod</th>
          <th scope="col">changefreq</th>
          <th scope="col">priority</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>https://home-gig-4.herokuapp.com/home/index</td>
          <td>2019-11-24T19:58:28-05:00</td>
          <td>always</td>
          <td>1.0</td>
        </tr>
        <tr>
          <td>https://home-gig-4.herokuapp.com/home/index/home/index</td>
          <td>2019-11-24T19:58:28-05:00</td>
          <td>weekly</td>
          <td>0.5</td>
        </tr>
        <tr>
          <td>https://home-gig-4.herokuapp.com/home/index/home/owner</td>
          <td>2019-11-24T19:58:28-05:00</td>
          <td>weekly</td>
          <td>0.5</td>
        </tr>
        <tr>
          <td>https://home-gig-4.herokuapp.com/home/index/home/worker</td>
          <td>2019-11-24T19:58:28-05:00</td>
          <td>weekly</td>
          <td>0.5</td>
        </tr>
        <tr>
          <td>https://home-gig-4.herokuapp.com/home/index/home/admin</td>
          <td>2019-11-24T19:58:28-05:00</td>
          <td>weekly</td>
          <td>0.5</td>
        </tr>
        <tr>
          <td>https://home-gig-4.herokuapp.com/home/index/jobs/explore</td>
          <td>2019-11-24T19:58:28-05:00</td>
          <td>weekly</td>
          <td>0.5</td>
        </tr>
        <tr>
          <td>https://home-gig-4.herokuapp.com/home/index/about</td>
          <td>2019-11-24T19:58:28-05:00</td>
          <td>weekly</td>
          <td>0.5</td>
        </tr>
        <tr>
          <td>https://home-gig-4.herokuapp.com/home/index/contactus</td>
          <td>2019-11-24T19:58:28-05:00</td>
          <td>weekly</td>
          <td>0.5</td>
        </tr>
        <tr>
          <td>https://home-gig-4.herokuapp.com/home/index/faq</td>
          <td>2019-11-24T19:58:28-05:00</td>
          <td>weekly</td>
          <td>0.5</td>
        </tr>
        <tr>
          <td>https://home-gig-4.herokuapp.com/home/index/privacy</td>
          <td>2019-11-24T19:58:28-05:00</td>
          <td>weekly</td>
          <td>0.5</td>
        </tr>
        <tr>
          <td>https://home-gig-4.herokuapp.com/home/index/sitemap</td>
          <td>2019-11-24T19:58:28-05:00</td>
          <td>weekly</td>
          <td>0.5</td>
        </tr>
        <tr>
          <td>https://home-gig-4.herokuapp.com/home/index/tos</td>
          <td>2019-11-24T19:58:28-05:00</td>
          <td>weekly</td>
          <td>0.5</td>
        </tr>
        <tr>
          <td>https://home-gig-4.herokuapp.com/home/index/jobs/1</td>
          <td>2019-11-24T19:58:28-05:00</td>
          <td>weekly</td>
          <td>0.5</td>
        </tr>
        <tr>
          <td>https://home-gig-4.herokuapp.com/home/index/jobs/1/bids</td>
          <td>2019-11-24T19:58:28-05:00</td>
          <td>weekly</td>
          <td>0.5</td>
        </tr>
        <tr>
          <td>https://home-gig-4.herokuapp.com/home/index/jobs/2</td>
          <td>2019-11-24T19:58:28-05:00</td>
          <td>weekly</td>
          <td>0.5</td>
        </tr>
        <tr>
          <td>https://home-gig-4.herokuapp.com/home/index/jobs/2/bids</td>
          <td>2019-11-24T19:58:28-05:00</td>
          <td>weekly</td>
          <td>0.5</td>
        </tr>
        <tr>
          <td>https://home-gig-4.herokuapp.com/home/index/jobs/3</td>
          <td>2019-11-24T19:58:28-05:00</td>
          <td>weekly</td>
          <td>0.5</td>
        </tr>
        <tr>
          <td>https://home-gig-4.herokuapp.com/home/index/jobs/3/bids</td>
          <td>2019-11-24T19:58:28-05:00</td>
          <td>weekly</td>
          <td>0.5</td>
        </tr>
        <tr>
          <td>https://home-gig-4.herokuapp.com/home/index/jobs/4</td>
          <td>2019-11-24T19:58:28-05:00</td>
          <td>weekly</td>
          <td>0.5</td>
        </tr>
        <tr>
          <td>https://home-gig-4.herokuapp.com/home/index/jobs/4/bids</td>
          <td>2019-11-24T19:58:28-05:00</td>
          <td>weekly</td>
          <td>0.5</td>
        </tr>
        <tr>
          <td>https://home-gig-4.herokuapp.com/home/index/users/1</td>
          <td>2019-11-24T19:58:28-05:00</td>
          <td>weekly</td>
          <td>0.5</td>
        </tr>
        <tr>
          <td>https://home-gig-4.herokuapp.com/home/index/users/2</td>
          <td>2019-11-24T19:58:28-05:00</td>
          <td>weekly</td>
          <td>0.5</td>
        </tr>
        <tr>
          <td>https://home-gig-4.herokuapp.com/home/index/users/3</td>
          <td>2019-11-24T19:58:28-05:00</td>
          <td>weekly</td>
          <td>0.5</td>
        </tr>
        <tr>
          <td>https://home-gig-4.herokuapp.com/home/index/users/4</td>
          <td>2019-11-24T19:58:28-05:00</td>
          <td>weekly</td>
          <td>0.5</td>
        </tr>
        <tr>
          <td>https://home-gig-4.herokuapp.com/home/index/users/5</td>
          <td>2019-11-24T19:58:28-05:00</td>
          <td>weekly</td>
          <td>0.5</td>
        </tr>
        <tr>
          <td>https://home-gig-4.herokuapp.com/home/index/users/6</td>
          <td>2019-11-24T19:58:28-05:00</td>
          <td>weekly</td>
          <td>0.5</td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
