
home_gig_4/.rakeTasks
home_gig_4/.idea/workspace.xml
home_gig_4/.idea/vcs.xml
home_gig_4/.idea/modules.xml
home_gig_4/.idea/misc.xml
home_gig_4/.idea/home_gig_4.iml
home_gig_4/.idea/.generators
home_gig_4/.generators
home_gig_4/.idea/inspectionProfiles/Project_Default.xml
home_gig_4/.idea/.rakeTasks
home_gig_4/.idea
.idea