<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="welcome text-center">
      <div class="container mt-3">
        <div class="row">
          <div class="col-12">
            <%= render 'layouts/alerts' %>
            <h1 class="h3 mb-3 font-weight-normal"> Welcome to HomeGig! </h1>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-4 mb-3">
            <a class="btn btn-primary btn-block" href="/d/users/sign_up" role="button">
              Sign Up
            </a>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-4 mb-3">
            <a class="btn btn-primary btn-block" href="/d/users/sign_in" role="button">
              Sign In
            </a>
          </div>
        </div>
      </div>
    </div>
    
    <script src="" async defer></script>
  </body>
</html>