<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your accepted bid has been reverted for <%= @job.title %></h1>
    <p>
      Your bid has been reverted by <%= link_to @owner.first_name , (@owner) %> </br>
 <br>
    </p>
    <p>
      To see this job, just follow this link: <%= link_to "View Job" , (@job) %>.
    </p>
  </body>
</html>