<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have successfully deleted a job!</h1>
    <p>
      You have succesffully edited the job: <%= @job.title %>
 <br>
    </p>
    
  </body>
</html>