<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have received a review.</h1>
    <p>
      You have successfully posted a review for the following:<br>
      Job: <%= link_to "View Job" , (@job) %>.<br>
      <h2> Review: </h2>
      <p>
        Rating: <%= @review.rating %> <br>
        Text: <%= @review.text %>
      </p>
 <br>
    </p>
    
  </body>
</html>