<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have successfully posted a review.</h1>
    <p>
      You have successfully posted a review for the following:<br>
      Job: <%= link_to "View Job" , (@job) %>.<br>
      Worker: <%= link_to "Worker", (@worker) %>

 <br>
    </p>
    
  </body>
</html>