<table>
  <tr>
    <th>Description</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @job.bids.each do |bid| %>
    <tr>
      <td><%= bid.description %></td>
      <td><%= bid.amount %></td>
      <% if current_user == User.find(bid.user_id) %>
        <td><%= link_to 'Delete Bid', [bid.job, bid],
          method: :delete,
          data: { confirm: 'Are you sure?' } %></td>
      <% else %>
        <td><%= link_to 'Accept Bid' %></td>
      <% end %>
    </tr>
  <% end %>
</table>
