<p>
  <strong>Description:</strong>
  <%= bid.description %>
</p>
 
<p>
  <strong>Amount:</strong>
  <%= bid.amount %>
</p>

<%= link_to 'Delete Bid', [bid.job, bid],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
